.big-picture {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.big-picture.shown {
    display: flex;
}

.bp__img {
    width: 80vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}