#chatpanel {
    position: fixed;
    bottom: 0;
    right: 1rem;
    width: 18rem;
    z-index: 5000;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
    box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.2);
}

/*TITLE BAR*/

.chat__title-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 2.5rem;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.chat__title-bar:hover {
    background-color: #f5f5f5;
}

.chat__title-text {
    display: grid;
    align-items: center;
    justify-items: start;
    margin-left: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
    font-weight: 700;
}

.chat__title-notifs {
    margin-right: 0.5rem;
}

.chat__title-notifs,
.chat__notifs-div {
    display: grid;
    align-items: center;
    justify-items: center;
}

.chat__notifs-div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: red;
}

.chat__notifs-div p {
    margin: 0;
    color: white;
    font-size: 0.8rem;
}

/*INTERFACE*/

.chat__interface {
    transition: height 0.5s;
}

/*USERS BUBBLES*/

.chat__users-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: 3.5rem;
    border-bottom: 1px solid lightgrey;
}

.chat__ub-no-users {
    display: none;
    margin: 0 auto;
    font-size: 0.8rem;
    opacity: 0.49;
    letter-spacing: 0.025rem;
}

.chat__ub-no-users:first-child:last-child {
    display: block;
}

.chat__user-div {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
}

.chat__user-pic {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    background-color: lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.chat__user-div.notif .chat__user-pic {
    box-shadow: 0 0 0 2px white, 0 0 0 4px red;
}

.chat__user-div.current .chat__user-pic {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #00bcd4 !important;
}

.chat__user-overlay {
    position: absolute;
    visibility: hidden;
    top: 1rem;
    width: 3.5rem;
    height: 1.5rem;
    z-index: 5001;
    padding: 0.4rem 0.5rem;
    border-radius: 0.75rem;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.8;
}

.chat__user-div:hover .chat__user-overlay {
    visibility: visible;
}

/*MESSAGES*/

.chat__messages {
    height: 15rem;
    border-bottom: 1px solid lightgrey;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat__msg-no-messages {
    display: none;
    margin-top: 3.75rem;
    text-align: center;
    opacity: 0.5;
}

.chat__msg-no-messages:first-child:last-child {
    display: block;
}

.chat__msg-no-messages span {
    font-size: 0.8rem;
    letter-spacing: 0.025rem;
    opacity: 0.5;
}

.chat__msg-no-messages img {
    width: 5rem;
    filter: grayscale(100%);
}

.chat__message {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.chat__message.mine {
    justify-content: end;
    flex-direction: row-reverse;
}

.chat__message.yours {
    justify-content: start;
}

.chat__msg-content {
    max-width: 70%;
    height: auto;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
}

.chat__message.mine .chat__msg-content {
    background: #5192e1 linear-gradient(to right, #00bcd4, rgba(0, 0, 0, 0));
    color: white;
}

.chat__message.yours .chat__msg-content {
    background-color: #e7e7e7;
}

.chat__msg-content p {
    margin: 0;
    word-break: break-word;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.chat__msg-date {
    visibility: hidden;
    margin: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: grey;
}

.chat__message:hover .chat__msg-date {
    visibility: visible;
}

/*INPUT BAR*/

.chat__input-bar {
    display: flex;
    flex-wrap: nowrap;
    height: 2.5rem;
}

.chat__input {
    flex-grow: 1;
}

.chat__input input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
}

.chat__submit {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 2.5rem;
}

.chat__button {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 auto;
    background: url("../../assets/img/chat-send.svg") no-repeat center, #5192e1 linear-gradient(to right, #00bcd4, rgba(0, 0, 0, 0));
    background-size: 0.8rem, cover;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat__button:hover {
    background-color: #00bcd4;
}

.chat__button:active {
    background-color: #008ba2;
}