/*NAVBAR CSS*/

#navbar {
    display: grid;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    z-index: 99;
    background-color: white;
    box-shadow: none;
    justify-items: center;
    transition: 0.4s;
}

#navbar .nav-items {
    width: 90%;
    max-width: 70rem;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
}

#navbar .nav-items > div.openSidebar,
#navbar .nav-items > div.defaultLinks {
    justify-self: start;
}

#navbar .nav-items > div.logo {
    justify-self: center;
}

#navbar .nav-items > div.rightButtons {
    justify-self: end;
}

#navbar .nav-items > div.openSidebar > div,
#navbar .nav-items > div.defaultLinks > div,
#navbar .nav-items > div.rightButtons > div {
    margin: 0.5rem;
}

#navbar .nav-items > div > div {
    display: inline;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #8A8DAA;
    letter-spacing: 0.05rem;
    transition: color 0.2s;
}

#navbar .nav-items > div > div:hover {
    color: #585a6d;
}

#navbar .nav-items svg {
    width: 1.3rem;
    margin-top: 3px;
    stroke: #8A8DAA;
    transition: stroke 0.2s;
    cursor: pointer;
}

#navbar .nav-items svg:hover {
    stroke: #585a6d;
}

#navbar .nav-items .logo img {
    width: 3rem;
    margin-top: 2px;
    transition: 0.4s;
}

#navbar .nav-items .logo img:hover {
    animation: shake 1s;
    animation-iteration-count: 1;
}

#navbar .nav-button {
    position: relative;
}

#navbar .nav-menu {
    position: absolute;
    visibility: hidden;
    top: 1rem;
    right: -0.5rem;
    z-index: 100;
    width: 0;
    height: fit-content;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 0.4rem;
    box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.3);
    transition: width 0.5s, opacity 0.5s;
    opacity: 0;
    color: black;
    overflow: hidden;
}

#navbar .nav-menu.opened {
    visibility: visible;
    width: 18rem;
    opacity: 1;
}

#navbar .nav-overlay {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

#navbar .nav-overlay.shown {
    display: block !important;
}

@media screen and (max-width: 400px) {
    #navbar .nav-menu {
        position: fixed;
        top: 3.5rem;
        right: 50%;
        transform: translate(50%);
    }
}

.menu__title {
    width: 100%;
    height: 2rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid lightgrey;
    cursor: default;
}

.menu__title.notifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menu__title.notifications button,
.menu__title.notifications select {
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.25rem;
    opacity: 0.7;
    background-size: 0.8rem !important;
    cursor: pointer;
}

.menu__title.notifications button {
    background: url("../../assets/img/notif-markallasread.svg") center no-repeat;
}

.menu__title.notifications select {
    background: url("../../assets/img/notif-filter.svg") center no-repeat;
}

.menu__title.notifications select {
    color: rgba(0, 0, 0, 0);
}

.menu__title.notifications button:hover,
.menu__title.notifications select:hover {
    opacity: 0.9;
}

.items {
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    cursor: default;
}

.account .item {
    cursor: pointer;
}

.item:last-child {
    border-bottom: none;
}

.item:hover {
    background-color: whitesmoke;
}

.item__img {
    flex-shrink: 0;
    flex-grow: 0;
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-image: url("../../assets/img/notif-seen.svg");
    background-repeat: no-repeat;
    background-size: 2rem;
}

.item.new .item__img {
    background-image: url("../../assets/img/notif-notseen.svg");
    background-size: 2.2rem;
}

.item.profile .item__img {
    background-image: url("../../assets/img/menu-profile.svg");
    background-size: 2.2rem;
}

.item.edit .item__img {
    background-image: url("../../assets/img/menu-edit.svg");
    background-size: 2.2rem;
}

.item.settings .item__img {
    background-image: url("../../assets/img/menu-settings.svg");
    background-size: 2.2rem;
}

.item.logout .item__img {
    background-image: url("../../assets/img/menu-logout.svg");
    background-size: 2.2rem;
}

.item__txt {
    flex-shrink: 0;
    flex-grow: 0;
    width: 14rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    opacity: 0.7;
}

.item__txt h4 {
    margin: 0;
}

.item__txt p {
    margin: 0.1rem 0 0 0;
    font-size: 0.8rem;
    opacity: 0.7;
}

/*ANIMATIONS AND MEDIA QUERIES*/
@keyframes shake {
    0% {
        transform: translate(0.3px, 0.3px) rotate(0deg);
    }
    20% {
        transform: translate(-0.3px, -0.6px) rotate(-1deg);
    }
    40% {
        transform: translate(-0.9px, 0px) rotate(1deg);
    }
    60% {
        transform: translate(0.9px, 0.6px) rotate(0deg);
    }
    80% {
        transform: translate(0.3px, -0.3px) rotate(1deg);
    }
    100% {
        transform: translate(-0.3px, 0.6px) rotate(-1deg);
    }
}

.openSidebar {
    display: none;
}

@media screen and (max-width: 800px) {
    .openSidebar {
        display: grid;
    }

    .defaultLinks {
        display: none;
    }
}