.preview {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 15rem;
    min-width: 10rem;
    height: 14.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 16px -6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s, background-color 1s, transform 0.5s;
}

.preview:hover {
    box-shadow: 0 10px 24px -12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.preview.current {
    transition: opacity 4s;
}

.preview__profile-pic {
    width: 4rem;
    height: 4rem;
    margin: 1.2rem auto 0.8rem auto;
    border-radius: 2rem;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
}

.preview__name {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow-x: auto;
}

.preview__username {
    font-size: 0.75rem;
    text-align: center;
    color: white;
    opacity: 0.5;
    overflow-x: auto;
}

.preview__infos {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 1.2rem auto 1rem auto;
    cursor: default;
}

.preview__infos > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.preview__infos > div > div:first-child {
    margin-bottom: 0.2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: 700;
    opacity: 0.35;
}

.preview__infos > div > div:last-child {
    margin-bottom: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.5;
    word-break: break-all;
    white-space: nowrap;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview__button {
    width: 2.5rem !important;
    height: 2.5rem !important;
    position: absolute;
    bottom: 0;
    margin: 0 0 -1.25rem 0 !important;
    left: 50%;
    transform: translate(-50%);
    background: url("../../assets/img/sm-like.svg") center no-repeat, #f75799 linear-gradient(90deg, #fd6687, rgba(0, 0, 0, 0)) !important;
    background-size: 1rem, cover !important;
    opacity: 0;
    transition: opacity 0.25s, background-color 0.4s;
}

.preview__button:hover {
    background-color: #fd6687 !important;
}

.preview__button:active {
    background-color: #c5516d !important;
}

.preview__button.dislike {
    background: url("../../assets/img/sm-dislike.svg") center no-repeat, #d043ca linear-gradient(to right, #8579e0, rgba(0, 0, 0, 0)) !important;
    background-size: 1rem, cover !important;
}

.preview__button.dislike:hover {
    background-color: #8579e0 !important;
}

.preview__button.dislike:active {
    background-color: #5858ae !important;
}

.preview:hover .preview__button {
    opacity: 1;
}